.App {
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
}
.navbar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #3e3e3e;
    padding: 1rem 1rem;
    position: relative;
}

.dark .navbar_container {
    background-color: #ccc
}
.navbar_container ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar_container li {
    display: block;
}
.navbar_container a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 20px 40px;
    transition: 0.3s all ease;
}
.dark .navbar_container a {
    color: rgb(24 24 27);
}
.navbar_container .active {
    background: yellow;
    color: black;
}
.navbar_container a:hover {
    background: yellow;
    color: black;
}
.navbar-menu-btn{
    color: white;
    display: none;
    cursor: pointer;
    font-size: 40px;
}
.dark .theme-value{
    color: rgb(24 24 27);
}
.theme-switch {
    margin-right: 20px;
    color: white;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: rgb(250 204 21);
}

input:focus + .slider {
    box-shadow: 0 0 1px rgb(250 204 21);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.dark .players{
    background: rgb(24 24 27); 
}
.players .container{
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.players .card{
    text-align: center;
    background: rgb(227, 227, 227);
}
.dark .players .card {
    background: rgb(39 39 42);
    color: white;
}
.dark .player-name{
    color:rgb(250 204 21);
}
.players .card img{
    display: block;
    width: 100%;
    max-width: 100%;
    height: 300px;
    max-height: 300px;
}
.players .card a{
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    background: #3e3e3e;
}
.footer {
    background-color: yellow;
    display: block;
    text-align: center;
    padding: 20px 0;

}
.dark .footer {
    background: rgb(24 24 27);
    color: yellow;
}
.film {
    padding-top: 5rem;
}
.dark .film {
    background: rgb(24 24 27);
}
.film .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 1rem;
}
.film-item {
    display: block;
    border-radius: 4px;
    color: black;
    overflow: hidden;
    padding-bottom: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
    position: relative;
}
.dark .film-item {
    background: rgb(39 39 42);
}
.film-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
    transition: display 0.3s ease;
}
.film-overlay-info {
    color: rgb(248 250 252);
    max-width: 90%;
    font-size: 1.5rem;
    text-align: center;
}
.film-overlay-button {
    display: inline-block;
    color: rgb(30 41 59);
    font-size: 1rem;
    background: rgb(250 204 21);
    padding: 10px 20px;
    border-radius: 4px;
    position: absolute;
    z-index: 20;
    left: 45%;
    top: 70%;
    transform: translateX(-45%);
    transition: all 0.3s ease;
}
.film-overlay-button:hover {
    background-color: rgb(253 224 71);
}
.film-item:hover .film-image img {
    scale: 1.1;
}
.film-item:hover .film-overlay {
    display: block;
}

.film-image {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.film-image img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 300px;
    border-radius: 4px;
    object-fit: cover;
    transition: all 0.5s ease;
}
.film-content {
    padding: 0 20px;
}
.film-title {
    color: black;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-transform: capitalize;
}
.dark .film-title {
    color: rgb(250 204 21);
}
.film-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(107 114 128);
    padding: 20px 0;
}
.dark .film-info {
    border-top: 1px solid white;
}
.film-sub-title {
    color: rgb(107 114 128);
    font-weight: normal;
}
.dark .film-sub-title {
    color: white;
}
.film-sub-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
    font-weight: bold;
}
.dark .film-sub-info {
    color: rgb(250 204 21);
}
.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 30;
}
.dark .overlay {
    background: rgba(0, 0, 0, 0.5);
}

.popup {
    padding: 2rem;
    background: #fff;
    border-radius: 5px;
    max-width: 50%;
    max-height: 80%;
    position: relative;
    transition: all 0.3s ease-in-out;
    overflow-y: scroll;
}
.dark .popup {
    background: rgb(39 39 42);
}
.popup img {
    display: block;
    width: 80%;
    max-width: 80%;
    height: 300px;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 4px;
}
.popup h2 {
    margin-top: 10px;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
    text-align: center;
}
.dark .popup h2 {
    color: rgb(250 204 21);
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.dark .close{
    color: white;
}
.popup .close:hover {
    color: rgb(250 204 21);
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}
.dark .popup .content {
    color: rgb(248 250 252);
}
.detail{
    padding: 1rem 0;
}
.dark .detail{
    background: rgb(24 24 27);
    color: white;
}
.detail-container{
    width: 1024px;
    max-width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
    box-sizing: border-box;
}
.detail-image{
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}
.detail-image img{
    /* max-width: 50%; */
    display: block;
    width: 100%;
    max-width: 100%;
    height: 400px;
    max-height: 400px;
    border-radius: 4px;
}
.detail-personal{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.detail-cost{
    color: rgb(161 98 7);
    font-size: 2rem;
    font-weight: bold;
}
.dark .detail-cost{
    color: rgb(250 204 21);
}
.detail-name{
    font-size: 30px;
}
.dark .detail-name{
    color: rgb(250 204 21);
}
.detail-club{
    font-size: 25px;
}
.contact{
    padding: 1rem 0;
    min-height: 75vh;
    max-width: 100%;


}
.dark .contact{
    background: rgb(24 24 27);
 
}
.contact-container{
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    max-width: 1024px;    
}
.contact-item{
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    font-size: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 1rem;
    max-width: 100%;
}
.dark .contact-item{
    background: rgb(39 39 42);
    color: rgb(250 204 21);

}
.contact-icon img{
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}
.contact-heading{
    color: black;
    text-align: center;
    font-size: 48px;
}
.dark .contact-heading{
    color: rgb(250 204 21);
}
@media screen and (max-width: 1023.98px) {
    .players .container{
        grid-template-columns: repeat(2, 1fr);

    }
    .film .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .detail-image img{
        width: 50%;
        height: 250px;
    }
    .contact-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .contact-heading{
        font-size: 36px;
    }
}

@media screen and (max-width: 767.98px) {
    .navbar-menu-btn{
        display: block;
    }

    .navbar_container ul {
        position: absolute;
        display: none;
        z-index: 40;
        height: auto;
        width: 300px;
        background:#3e3e3e;
        flex-direction: column;
        top:100%;
        left: 0;
        
    }
    .dark .navbar_container ul{
        background-color: #ccc
    }
    .navbar_container ul.menu-mobile-visible{
        display: block;
    }
    .players .container{
        grid-template-columns: repeat(1, 1fr);

    }
    .film .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
    .popup {
        padding: 1rem;
        max-width: 90%;
    }
    .detail-personal{
        flex-direction: column;
        gap: 5px;
    }
    .contact-heading{
        font-size: 30px;
    }
}
